<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>

<body>
    <section id="main-container">
        <header id="header">
            <partial name="./_Header.cshtml">
        </header>

        <main role="main" id="main">
            <aside id="menu-lateral">
                <partial name="./_MenuLateral.cshtml">
            </aside>
            @RenderBody()
        </main>

        <footer id="footer">
            <partial name="./_Footer.cshtml">
        </footer>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
