<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Web</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="cabecalho"></nav>
        </header>
        <section class="main-container">
            <main role="main" class="main">
            <aside class="menu-lateral">Menu</aside>
                @RenderBody()
            </main>
        </section>
        <footer>
            <section>
                &copy; 2023 - Family Points - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </section>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
