@{
    var cookie = Context.Request.Cookies["FamilyPointsAuthenticationToken"];
    var usuarioLogado = Core.Extensions.CookieExtension.SerializarToken(cookie);
    var usuarioOpcoesMae = usuarioLogado.UsuarioOpcoes.Where(x => x.OpcaoSistema.IdOpcaoMae == null);
}

@functions
{
    public async Task ImprimirMenu(OpcaoSistema opcao, IEnumerable<UsuarioOpcao> usuarioOpcoes, int nivel = 0)
    {
        var filhas = usuarioOpcoes.Where(x => x.OpcaoSistema.IdOpcaoMae == opcao.Id);

        <li style="margin-left: @(nivel * 2)rem;">
            @if (!filhas.Any())
            {
                <a asp-action="Index" asp-controller="@opcao.Descricao.RemoveDiacritics()">@opcao.Descricao</a>
            }
            else
            {
                <span>@opcao.Descricao</span>
            }
        </li>

        foreach (var filha in filhas)
        {
            await ImprimirMenu(filha.OpcaoSistema, usuarioOpcoes, nivel + 1);
        }
    }
}

<ul>
    @foreach (var usuarioOpcaoMae in usuarioOpcoesMae)
    {
        await ImprimirMenu(usuarioOpcaoMae.OpcaoSistema, usuarioLogado.UsuarioOpcoes);
    }
</ul>
