@model Usuario
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/iziToast/css/iziToast.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pages/usuario.css" asp-append-version="true" />

<form id="form-cadastro-usuario" onsubmit="usuario.cadastrar('form-cadastro-usuario', 'cadastrar')">
    <fieldset>
        <label asp-for="TipoUsuario.Tipo">Tipo do usuário</label>
        <select asp-for="TipoUsuario.Tipo">
            <option value="Responsavel">Responsável</option>
            <option value="Crianca">Criança</option>
        </select>

        <label asp-for="Nome">Nome</label>
        <input type="text" asp-for="Nome">

        <label asp-for="Email">Email</label>
        <input type="text" asp-for="Email">

        <label asp-for="Apelido">Usuário</label>
        <input type="text" asp-for="Apelido" placeholder="Digite o usuário">

        <label asp-for="Senha">Senha</label>
        <input type="password" asp-for="Senha" placeholder="Digite sua senha">

        <label asp-for="RepetirSenha">Repetir Senha</label>
        <input type="password" asp-for="RepetirSenha" placeholder="Digite a senha novamente">
    </fieldset>
    <button type="submit">Cadastrar</button>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/iziToast/js/iziToast.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/pages/usuario.js" asp-append-version="true"></script>
<script>
    usuario.init({
        urls: {
            cadastrar: '@Url.Action("cadastro-usuario", "usuario")'
        }
    });
</script>
